#* @vtlvariable name="labelFields" type="java.util.List<com.atlassian.jira.issue.fields.Field>" *#
#* @vtlvariable name="projectKey" type="java.lang.String" *#
#* @vtlvariable name="currentView" type="java.lang.String" *#
#* @vtlvariable name="alphabeticalLabelsHtml" type="java.lang.String" *#
#disable_html_escaping()
#set($projectUrlPrefix = "${requestContext.baseUrl}/browse/$textutils.htmlEncode(${projectKey})?selectedTab=com.atlassian.jira.plugin.system.project:labels-heatmap-panel")
<div class="aui-toolbar2" role="toolbar">
    <div class="aui-toolbar-2-inner">
        <div class="aui-toolbar2-group">
            <div class="aui-toolbar2-primary">
                <div class="aui-buttons">
                    <a class="aui-button" href="$projectUrlPrefix&labels.view=popular&selected.field=$!field.id">$i18n.getText("labels.project-tab.header")</a>
                    <span class="aui-button" aria-pressed="true">$i18n.getText("common.concepts.list")</span>
                </div>
                #if ($labelFields.size() > 1)
                    <div class="aui-buttons">
                        #foreach ($labelField in $labelFields)
                            #if ($labelField.id.equals($field.id))
                                <span class="aui-button" aria-pressed="true">$textutils.htmlEncode($field.name)</span>
                            #else
                                <a class="aui-button" href="$projectUrlPrefix&labels.view=$textutils.htmlEncode($!{currentView})&selected.field=${labelField.id}&labels.order=$textutils.htmlEncode($!{labelOrder})">$textutils.htmlEncode($labelField.name)</a>
                            #end
                        #end
                    </div>
                #end
            </div>
        </div>
    </div>
</div>
$alphabeticalLabelsHtml
