#* @vtlvariable name="labelFields" type="java.util.List<com.atlassian.jira.issue.fields.Field>" *#
#* @vtlvariable name="labelsHeatMap" type="java.util.Map<com.atlassian.jira.issue.label.Label, java.lang.Number>" *#
#* @vtlvariable name="projectId" type="java.lang.Long" *#
#* @vtlvariable name="projectKey" type="java.lang.String" *#
#* @vtlvariable name="currentView" type="java.lang.String" *#
#* @vtlvariable name="labelOrder" type="java.lang.String" *#
#* @vtlvariable name="isCustomField" type="boolean" *#
#* @vtlvariable name="remoteUser" type="com.atlassian.crowd.embedded.api.User" *#
#* @vtlvariable name="labelUtils" type="com.atlassian.jira.issue.label.LabelUtil" *#
#disable_html_escaping()
#set($projectUrlPrefix = "${requestContext.baseUrl}/browse/$textutils.htmlEncode(${projectKey})?selectedTab=com.atlassian.jira.plugin.system.project:labels-heatmap-panel")
<div class="aui-toolbar2" role="toolbar">
    <div class="aui-toolbar-2-inner">
        <div class="aui-toolbar2-group">
            <div class="aui-toolbar2-primary">
                <div class="aui-buttons">
                    <span class="aui-button" aria-pressed="true">$i18n.getText("labels.project-tab.header")</span>
                    <a class="aui-button" href="$projectUrlPrefix&labels.view=all&selected.field=$!field.id">$i18n.getText("common.concepts.list")</a>
                </div>
                #if ($labelFields.size() > 1)
                    <div class="aui-buttons">
                        #foreach ($labelField in $labelFields)
                            #if ($labelField.id.equals($field.id))
                                <span class="aui-button" aria-pressed="true">$textutils.htmlEncode($field.name)</span>
                            #else
                                <a class="aui-button" href="$projectUrlPrefix&labels.view=$textutils.htmlEncode($!{currentView})&selected.field=${labelField.id}&labels.order=$textutils.htmlEncode($!{labelOrder})">$textutils.htmlEncode($labelField.name)</a>
                            #end
                        #end
                    </div>
                #end
            </div>
            #if ($labelsHeatMap.size() > 0)
                <div class="aui-toolbar2-secondary">
                    <div class="aui-buttons">
                        #if(!$labelOrder || $labelOrder == "alpha")
                            <span class="aui-button" aria-pressed="true">$i18n.getText("labels.project-tab.alphabetically")</span>
                            <a class="aui-button" href="$projectUrlPrefix&labels.order=pop&selected.field=$!field.id">$i18n.getText("labels.project-tab.popularity")</a>
                        #else
                            <a class="aui-button" href="$projectUrlPrefix&labels.order=alpha&selected.field=$!field.id">$i18n.getText("labels.project-tab.alphabetically")</a>
                            <span class="aui-button" aria-pressed="true">$i18n.getText("labels.project-tab.popularity")</span>
                        #end
                    </div>
                </div>
            #end
        </div>
    </div>
</div>

#if ($labelsHeatMap.size() > 0)
    #set ( $labelCount = $labelsHeatMap.size())

    <p class="label-heatmap">
        #foreach ($entry in $labelsHeatMap.entrySet())
            #if($entry.key.label)
                #set ($size = 10 + $entry.value * 2)
                <span class="aui-label" style="font-size:${size}px;">
                    #if($isCustomField)
                        #set($labelJql = $labelUtils.getLabelJqlForProject($remoteUser, $projectId, $field.idAsLong, $entry.key.label ))
                    #else
                        #set($labelJql = $labelUtils.getLabelJqlForProject($remoteUser, $projectId, $entry.key.label ))
                    #end
                    <a href="$requestContext.baseUrl/secure/IssueNavigator.jspa?reset=true$labelJql">$textutils.htmlEncode( $entry.key.label )</a>
                </span>
            #end
        #end
    </p>
#else
    #if ($labelFields.size() > 1)
        #AUImessage("info" "$i18n.getText('labels.project-tab.nolabels.multiplefields.title')" "$i18n.getText('labels.project-tab.nolabels.multiplefields.desc')" "" "" "" "false")
    #else
        #AUImessage("info" "$i18n.getText('labels.project-tab.nolabels.singlefield.title')" "$i18n.getText('labels.project-tab.nolabels.singlefield.desc')" "" "" "" "false")
    #end
#end
