#* @vtlvariable name="reports" type="java.util.Collection<com.atlassian.jira.plugin.report.ReportModuleDescriptor>" *#
#* @vtlvariable name="truncateLimit" type="int" *#
<div class="mod-header">
    <h3>$i18n.getText('common.concepts.reports')</h3>
</div>
<div class="mod-content">
    <ul class="issues">
        #foreach($report in $reports)
            <li class="item">
                <span class="aui-icon jira-icon-report" title="$i18n.getText('common.concepts.report')">$i18n.getText('common.concepts.report')</span>
                <a class="issue" href="${baseurl}/secure/ConfigureReport!default.jspa?selectedProjectId=${browseContext.project.id}&projectOrFilterId=project-${browseContext.project.id}&projectOrFilterName=${browseContext.project.name}&reportKey=${report.completeKey}" title="${report.getText($report.description)}">${report.label}</a>
                <span class="description">
                    #if($report.description.length() <= $truncateLimit)
                        $report.description
                    #else
                        ${report.description.substring(0,$truncateLimit)}...
                    #end
                </span>
            </li>
        #end
    </ul>
</div>