#disable_html_escaping()
#* @vtlvariable name="project" type="com.atlassian.jira.project.Project" *#
#* @vtlvariable name="projectDescriptionRenderer" type="com.atlassian.jira.project.renderer.ProjectDescriptionRenderer" *#
#if ($textutils.stringSet($project.description))
    <div id="pd-desc">$projectDescriptionRenderer.getViewHtml($project)</div>
#else
    <h3>${i18n.getText('admin.project.description.heading')}</h3>
    <p>${i18n.getText('admin.project.description.paragraph1')}</p>
    #if ($hasAdminPermission)
        <p>
            ${i18n.getText('admin.project.description.hint', "<a id='edit_project' href='${baseurl}/secure/project/EditProject!default.jspa?pid=${project.id}'>", "</a>")}
        </p>
    #end
#end
