#disable_html_escaping()
<div class="mod-header">
    <h3>$i18n.getText('common.concepts.issues'): $i18n.getText('common.filters.updatedrecently')</h3>
</div>
<div class="mod-content">
    <table class="aui issue-list">
        <thead>
            <tr>
                <th class="issue-list-key">$i18n.getText('issue.field.key')</th>
                <th>$i18n.getText('issue.field.summary')</th>
                <th class="issue-list-date">$i18n.getText('issue.field.updated')</th>
            </tr>
        </thead>
        <tbody>
            #foreach ($issue in $issues)
            <tr class="vevent">
                <td>
                    #displayConstantIcon($issue.issueTypeObject)
                    <a href="${baseurl}/browse/${issue.key}">$issue.key</a>
                </td>
                <td>
                    $textutils.htmlEncode($issue.summary)
                </td>
                <td>
                    <time class="dtstart hidden">$outlookdate.formatIso8601($issue.created)</time>
                    #if ($issue.dueDate)
                        <time class="date">$relativeDateTimeFormatter.format($issue.updated)</time>
                        <time class="dtend hidden">$outlookdate.formatIso8601Date($issue.dueDate)</time>
                    #else
                        <time class="date dtend" title="$outlookdate.formatIso8601($issue.updated)">$relativeDateTimeFormatter.format($issue.updated)</time>
                    #end
                </td>
            </tr>
            #end
        </tbody>
    </table>
    <p><a id="frag${fragid}_more" href="$srUrl" title="">$i18n.getText('common.concepts.view.issues')</a></p>
 </div>
