<div class="jira-adbox jira-adbox-medium">
    <h3>$i18n.getText('browseproject.no.issues.desc')</h3>
    #if ($canCreateIssues)
        <p>$i18n.getText('browseproject.no.issues.create.issue', $i18n.getText('menu.issues.new.issue'))</p>
        #set ($shortcutTipHtml = "$i18n.getText('browseproject.no.issues.create.issue.keyboardshortcut.tip')")
        <p>$shortcutTipHtml</p>
        <p><a class="aui-button aui-button-primary aui-style create-issue" id="no-issues-create-issue" title="$i18n.getText('tooltip.createnewissue')" href="${baseurl}/secure/CreateIssue!default.jspa?pid=${project.id}">$i18n.getText('menu.issues.new.issue')</a></p>
    #else
        <p>$i18n.getText('browseproject.no.issues.nopermission.explanation')</p>
        <p>$i18n.getText('browseproject.no.issues.nopermission.request.permission', ' ', ' ')</p>
    #end
</div>