#* @vtlvariable name="versions" type="com.atlassian.jira.web.bean.StatisticMapWrapper" *#
#* @vtlvariable name="urlUtil" type="com.atlassian.jira.plugin.projectpanel.fragment.impl.UnresolvedIssuesByComponentFragment.ComponentUrlUtil" *#
#* @vtlvariable name="fragid" type="java.lang.String" *#
#disable_html_escaping()
#if ($versions)
    #set ($LIMIT = 10)
    #set ($versionKeys = $versions.keySet())
    #set ($irrelevantCount = $versions.irrelevantCount)
    #if ($versionKeys.isEmpty() == false || $irrelevantCount > 0)
        <div class="mod-header">
            <h3>$i18n.getText('common.concepts.unresolved'): $i18n.getText('common.concepts.byversion')</h3>
        </div>
        <div class="mod-content">
            <table id="components" class="aui">
                <thead>
                    <tr>
                        <th>$i18n.getText('common.concepts.version')</th>
                        <th style="width:45%;">$i18n.getText('common.concepts.issues')</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach ($version in $versionKeys)
                        #if ($version)
                            #if ($version.description && $version.description != '')
                                #set ($title = "$textutils.htmlEncode($version.name) - $textutils.htmlEncode($version.description)")
                            #else
                                #set ($title = "$textutils.htmlEncode($version.name)")
                            #end
                            <tr>
                                <td>
                                    #versionStatus($version 16)
                                    <a id="version_$version.id" href="${urlUtil.getUrl($version)}" title="${title}">$textutils.htmlEncode($version.name)</a>
                                </td>
                                <td class="cell-type-collapsed">${versions.get($version)}</td>
                            </tr>
                        #else
                            <tr>
                                <td><a href="${urlUtil.getUrl($version)}" class="none">$i18n.getText("common.concepts.unscheduled")</a></td>
                                <td class="cell-type-collapsed">${versions.get($version)}</td>
                            </tr>
                        #end
                    #end

                    #if ($irrelevantCount > 0)
                        <tr>
                            <td><span title="$i18n.getText('common.concepts.irrelevant.desc')">$i18n.getText('common.concepts.irrelevant')</span></td>
                            <td class="cell-type-collapsed">$irrelevantCount</td>
                        </tr>
                    #end
                </tbody>
            </table>
            <p><a id="frag${fragid}_more" href="${urlUtil.getAllUrl()}">$i18n.getText('common.concepts.view.issues')</a></p>
        </div>
    #else
        <div class="mod-header">
            <h3>$i18n.getText('common.concepts.unresolved'): $i18n.getText('common.concepts.byversion')</h3>
        </div>
        <div class="mod-content">
            <p>$i18n.getText('common.concepts.noissues')</p>
        </div>
    #end
#end
