#disable_html_escaping()
#if ($priorities)
    #set ($irrelevantCount = $priorities.irrelevantCount)
    #if ($priorities.isEmpty() == false || $irrelevantCount > 0)
        <div class="mod-header">
            <h3>$i18n.getText('common.concepts.unresolved'): $i18n.getText('common.concepts.bypriority')</h3>
        </div>
        <div class="mod-content">
            <table class="aui">
                <thead>
                    <tr>
                        <th>$i18n.getText('issue.field.priority')</th>
                        <th style="width:15%;">$i18n.getText('common.concepts.issues')</th>
                        <th style="width:30%;">$i18n.getText('common.words.percentage')</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach ($priority in $priorities.keySet())
                        <tr>
                            #if ($priority)
                                #set ($newUrl = "${urlUtil.getUrl($priority)}")
                                <td class="name">#displayConstantIcon($priority) <a href="${newUrl}">$textutils.htmlEncode(${priority.getNameTranslation()})</a></td>
                            #else
                                <td class="name">$i18n.getText('gadget.filterstats.priority.nopriority')</td>
                            #end
                            <td class="count">$priorities.get($priority)</td>
                            <td class="graph last">#histogram($priorities.getPercentage($priority))</td>
                        </tr>
                    #end
                    #if ($irrelevantCount > 0)
                        <tr>
                            <td class="name"><span title="$i18n.getText('common.concepts.irrelevant.desc')">$i18n.getText('common.concepts.irrelevant')</span></td>
                            <td class="count cell-type-collapsed">$irrelevantCount</td>
                            <td class="graph last">#histogram($priorities.irrelevantPercentage)</td>
                        </tr>
                    #end
                </tbody>
            </table>
            <p><a id="frag${fragid}_more" href="${urlUtil.getAllUrl()}">$i18n.getText('common.concepts.view.issues')</a></p>
        </div>
    #else
        <div class="mod-header">
            <h3>$i18n.getText('common.concepts.unresolved'): $i18n.getText('common.concepts.bypriority')</h3>
        </div>
        <div class="mod-content">
            <p>$i18n.getText('common.concepts.noissues')</p>
        </div>
    #end
#end
