#* @vtlvariable name="assignees" type="com.atlassian.jira.web.bean.StatisticMapWrapper" *#
#* @vtlvariable name="urlUtil" type="com.atlassian.jira.plugin.projectpanel.fragment.impl.UnresolvedIssuesByComponentFragment.ComponentUrlUtil" *#
#* @vtlvariable name="fragid" type="java.lang.String" *#
#disable_html_escaping()
#if ($assignees)
    #set ($LIMIT = 10)
    #set ($assigneeKeys = $assignees.keySet())
    #set ($irrelevantCount = $assignees.irrelevantCount)
    #if ($assigneeKeys.isEmpty() == false || $irrelevantCount > 0)
        <div class="mod-header">
            <h3>$i18n.getText('common.concepts.unresolved'): $i18n.getText('common.concepts.byassignee')</h3>
        </div>
        <div class="mod-content">
            <table id="assignees" class="aui">
                <thead>
                    <tr>
                        <th>$i18n.getText('issue.field.assignee')</th>
                        <th style="width:15%;">$i18n.getText('common.concepts.issues')</th>
                        <th style="width:30%;">$i18n.getText('common.words.percentage')</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach ($assignee in $assigneeKeys)
                        #if (!$assignee)
                            #set ($assigneeFullName = $i18n.getText('common.concepts.unassigned'))
                        #else
                            #set ($assigneeFullName = $userFormatter.formatUsername($assignee.name, $fragid))
                        #end
                        <tr>
                            <td class="name first"><a id="unresolved_assignee_$!textutils.htmlEncode($!assignee.name)" #if ($assignee)class="user-hover" rel="$textutils.htmlEncode($!assignee.name)"#end href="${urlUtil.getUrl($assignee)}">$assigneeFullName</a></td>
                            <td class="count">$assignees.get($assignee)</td>
                            <td class="graph last">#histogram($assignees.getPercentage($assignee))</td>
                        </tr>
                    #end
                    #if ($irrelevantCount > 0)
                        <tr>
                            <td class="name first"><span title="$i18n.getText('common.concepts.irrelevant.desc')">$i18n.getText('common.concepts.irrelevant')</span></td>
                            <td class="count">$irrelevantCount</td>
                            <td class="graph last">#histogram($assignees.irrelevantPercentage)</td>
                        </tr>
                    #end
                </tbody>
            </table>
            <p><a id="frag${fragid}_more" href="${urlUtil.getAllUrl()}">$i18n.getText('common.concepts.view.issues')</a></p>
        </div>
    #else
        <div class="mod-header">
            <h3>$i18n.getText('common.concepts.unresolved'): $i18n.getText('common.concepts.byassignee')</h3>
        </div>
        <div class="mod-content">
            <p>$i18n.getText('common.concepts.noissues')</p>
        </div>
    #end
#end
